@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}

a {
    text-decoration: none;
    font-weight: 500;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    a {
        color: black !important;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    a {
        color: white !important;
    }
}

/* a {
    text-decoration: none;
    color: black !important;
    font-weight: 500;
} */

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

/* ul {list-style-type: none;} */

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}